#toolbox-container {
    min-width: 870px;
    max-width: 1024px;
    margin-bottom: 300px;
}

#toolbox-title {
    width: 400px;
    height: 100px;
    background-repeat: no-repeat;
    background-image: url('images/atlassian-logo.png');
    background-clip: content-box;
    background-size: contain;
    overflow: hidden;
}

#toolbox-title span {
    display: block;
    text-indent: -9999px;
}
